#full-edit-modal
  .row.buttons
    .unit.size1of2
      button html
      button javascript
      button css
    .unit-right
      button.close-button X
  .row
    .unit.size1of1
      textarea.edit-text

