.full-edit-modal-container
  .row.buttons
    .unit.size1of2
      button html
      button javascript
      button css
    .unit-right
      button X
  .row
    .unit.size1of1
      textarea#full-edit-modal

