script(src='//code.jquery.com/jquery-1.10.2.min.js')
script(src='assets/javascripts/underscore.js')
script(src='socket.io/socket.io.js')
script(src='assets/javascripts/editor.js')
script(src='assets/javascripts/chat.js')
script(src='assets/javascripts/app.js')
