script(src='//code.jquery.com/jquery-1.10.2.min.js')
script(src='assets/javascripts/underscore.js')
script(src='socket.io/socket.io.js')
script(src='assets/javascripts/editor/editor.js')
script(src='assets/javascripts/editor/modal.js')
script(src='assets/javascripts/editor/full_modal.js')
script(src='assets/javascripts/editor/receiver.js')
script(src='assets/javascripts/editor/sender.js')
script(src='assets/javascripts/chat/chat.js')
script(src='assets/javascripts/chat/interface.js')
script(src='assets/javascripts/chat/receiver.js')
script(src='assets/javascripts/chat/sender.js')
script(src='assets/javascripts/app.js')
