// external dependencies
script(src='//code.jquery.com/jquery-1.10.2.min.js')
script(src='assets/vendor/javascripts/underscore.js')
script(src='assets/vendor/javascripts/codemirror-compressed.js')
script(src='socket.io/socket.io.js')

// editor
script(src='assets/javascripts/editor/editor.js')
script(src='assets/javascripts/editor/receiver.js')
script(src='assets/javascripts/editor/interface.js')
script(src='assets/javascripts/editor/interface/toggler.js')
script(src='assets/javascripts/editor/interface/edit_field.js')
script(src='assets/javascripts/editor/interface/streamer.js')

// chat
script(src='assets/javascripts/chat/chat.js')
script(src='assets/javascripts/chat/interface.js')
script(src='assets/javascripts/chat/receiver.js')
script(src='assets/javascripts/chat/sender.js')
script(src='assets/javascripts/app.js')
