/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, button {
  outline-style: none;
  resize: none;
  background-color: transparent;
  -webkit-appearance: none; }

img {
  display: block; }

#__uneditable .line, #__uneditable .row, #__uneditable .last-unit, #__uneditable .s-row {
  width: 100%; }
#__uneditable .unit {
  float: left; }
#__uneditable .unit-right {
  float: right; }
#__uneditable .size1of1 {
  width: 100%;
  float: none; }
#__uneditable .size1of2 {
  width: 50%; }
#__uneditable .size1of3 {
  width: 33.33333%; }
#__uneditable .size2of3 {
  width: 66.66666%; }
#__uneditable .size3of4 {
  width: 75%; }
#__uneditable .size1of4 {
  width: 25%; }
#__uneditable .size1of5 {
  width: 20%; }
#__uneditable .size2of5 {
  width: 40%; }
#__uneditable .size3of5 {
  width: 60%; }
#__uneditable .size4of5 {
  width: 80%; }
#__uneditable .size1of6 {
  width: 16.66666%; }
#__uneditable .size4of6 {
  width: 66.66666%; }
#__uneditable .size5of6 {
  width: 83.33333%; }
#__uneditable .size1of10 {
  width: 10%; }
#__uneditable .size3of10 {
  width: 30%; }
#__uneditable .size7of10 {
  width: 70%; }
#__uneditable .size9of10 {
  width: 90%; }
#__uneditable .last-unit {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }
#__uneditable .inner {
  display: block;
  padding: 10px; }
#__uneditable .spacer {
  width: 10px;
  height: 10px; }
#__uneditable .s-hidden {
  display: none; }

/*content*/
@keyframes pulse {
  from {
    opacity: 0.2; }

  to {
    opacity: 1; } }

@-webkit-keyframes pulse {
  from {
    opacity: 0.2; }

  to {
    opacity: 1; } }

.loading {
  margin-top: 20px;
  text-align: center;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite; }

#__uneditable {
  text-align: left;
  font-size: 14px;
  /*editor*/ }
  #__uneditable #editor-container {
    position: fixed;
    bottom: 0px; }
  #__uneditable #toolbar {
    position: relative; }
    #__uneditable #toolbar #editor-selector {
      position: absolute;
      right: 10px;
      bottom: 0px; }
      #__uneditable #toolbar #editor-selector .selector-item {
        cursor: pointer;
        display: inline-block;
        opacity: 0.3;
        transition: opacity 0.5s;
        font-weight: 200; }
        #__uneditable #toolbar #editor-selector .selector-item.open {
          opacity: 0.7; }
          #__uneditable #toolbar #editor-selector .selector-item.open:hover {
            opacity: 1; }
        #__uneditable #toolbar #editor-selector .selector-item:hover {
          opacity: 1; }
    #__uneditable #toolbar #chat {
      position: absolute;
      left: 10px;
      bottom: 0px; }
      #__uneditable #toolbar #chat span:focus {
        outline: 0; }
      #__uneditable #toolbar #chat .messages-container .chat-item {
        opacity: 0;
        transition: opacity 1s; }
        #__uneditable #toolbar #chat .messages-container .chat-item .alias {
          font-weight: bold; }
      #__uneditable #toolbar #chat .input-container {
        display: none; }
  #__uneditable #editor {
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    padding: 10px;
    background-color: #002b36;
    overflow: hidden;
    height: 300px;
    transition: height 1s; }
    #__uneditable #editor .closed {
      width: 0%; }
    #__uneditable #editor > div {
      height: 100%;
      transition: width 1s; }
  #__uneditable .spacer {
    display: inline-block;
    width: 10px; }
  #__uneditable .shadow-land {
    display: none; }
