/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, button {
  outline-style: none;
  resize: none;
  background-color: transparent;
  -webkit-appearance: none; }

img {
  display: block; }

.line, .row, .last-unit, .s-row {
  width: 100%; }

.unit {
  float: left; }

.unit-right {
  float: right; }

.size1of1 {
  width: 100%;
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size3of4 {
  width: 75%; }

.size1of4 {
  width: 25%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.size1of6 {
  width: 16.66666%; }

.size4of6 {
  width: 66.66666%; }

.size5of6 {
  width: 83.33333%; }

.size1of10 {
  width: 10%; }

.size3of10 {
  width: 30%; }

.size7of10 {
  width: 70%; }

.size9of10 {
  width: 90%; }

.last-unit {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

.inner {
  display: block;
  padding: 10px; }

.spacer {
  width: 10px;
  height: 10px; }

.s-hidden {
  display: none; }

/*content*/
#editor-container {
  position: absolute;
  bottom: 0px; }

#toolbar {
  position: relative; }
  #toolbar #editor-selector {
    position: absolute;
    right: 10px;
    bottom: 0px; }
    #toolbar #editor-selector .selector-item {
      cursor: pointer;
      display: inline-block;
      opacity: 0.3;
      transition: opacity 0.5s;
      font-weight: 200; }
      #toolbar #editor-selector .selector-item.open {
        opacity: 0.7; }
        #toolbar #editor-selector .selector-item.open:hover {
          opacity: 1; }
      #toolbar #editor-selector .selector-item:hover {
        opacity: 1; }
  #toolbar #chat {
    position: absolute;
    left: 10px;
    bottom: 0px; }
    #toolbar #chat .messages-container .chat-item {
      opacity: 0;
      transition: opacity 1s; }
      #toolbar #chat .messages-container .chat-item .alias {
        font-weight: bold; }
    #toolbar #chat .input-container {
      display: none; }

/*editor*/
#editor {
  padding: 10px;
  background-color: #002b36;
  overflow: hidden;
  height: 300px;
  transition: height 1s; }
  #editor .closed {
    width: 0%; }
  #editor > div {
    height: 100%;
    transition: width 1s; }

.spacer {
  display: inline-block;
  width: 10px; }

.shadow-land {
  display: none; }
