!!!
html
  head
    title Sand Castle
    include partials/js_manifest
    link(rel='stylesheet' type='text/css' href='assets/stylesheets/app.css');
  body
    style(id='stylesheet' type='text/css')
    #content.row
      #controls.unit.size1of6
        .inner
          h2 Controls
          #chat-container.row
            h3 Views
              br
              a(href='javascript:void(0)') html
              br
              a(href='javascript:void(0)') stylesheet
              br
              a(href='javascript:void(0)') javascript
              br
            h3 Chat
            #chat
            input#chat-alias-field.size1of1(type='text' placeholder='your alias')
            br
            .row
              input#chat-send-field.unit.size4of5(type='text' placeholder='send a message')
              input#chat-send-button.unit.last-unit(type='button' value='send')
      #sandbox-container.unit.size5of6
        .inner
          #sandbox
            p Click me to start editing!
            p This is another paragraph
            .random
              | This is a random div.
              p This is a paragraph in the random div
              .random-nested
                p This is a nested paragraph
                p And another nested paragraph
                p and yet another nested paragraph
            p This is another paragraph
      #shadow-land
        include partials/edit_modal
      script(id='javascript')
