doctype
html
  head
    title Sand Castle
    include partials/js_manifest
    link(rel='stylesheet' type='text/css' href='assets/stylesheets/app.css')
    link(rel='stylesheet' type='text/css' href='assets/vendor/stylesheets/codemirror.css')
    link(rel='stylesheet' type='text/css' href='assets/vendor/stylesheets/codemirror-solarized-theme.css')
  body
    #edit-field
    #editor-container.row
      #toolbar.row
        include partials/chat
        #editor-selector.unit.last-unit
          h3.selector-item html
          .spacer
          h3.selector-item css
          .spacer
          h3.selector-item javascript
      #editor
    .shadow-land
      textarea#htmlEditField
      textarea#cssEditField
      textarea#javascriptEditField
        | function test() { console.log('just a test'); }
