@import 'reset';
@import 'grid';

$spacing: 10px;
$editor-height: $spacing * 15;

/*content*/

#editor-container {
  position: absolute;
  bottom: 0px;
}

#toolbar {
  position:relative;

  #editor-selector {
    position: absolute;
    right: $spacing;
    bottom: 0px;

    .selector-item {
      display: inline-block;
      opacity: 0.5;
      transition: opacity 0.5s;
      font-weight: 200;

      &:hover {
        opacity: 1;
      }
    }
  }

  #chat {
    position: absolute;
    left: $spacing;
    bottom: 0px;

    .messages-container .chat-item {
      opacity: 0;
      transition: opacity 1s;

      .alias {
        font-weight: bold;
      }
    }

    .input-container {
      display: none;
    }
  }
}

/*editor*/

#editor {
  padding: $spacing;
  background-color: #002b36;
  overflow: hidden;
  height: 300px;
  transition: all 1s;

  > div {
    height: 100%;
  }
}

.spacer {
  display: inline-block;
  width: $spacing;
}

.shadow-land {
  display: none;
}

