@import 'reset';
@import 'grid';

/*colors*/
$light-grey: #ddd;

/*font*/
$font-size: 14px;
$font-family: "Trebuchet MS", Helvetica, sans-serif;

/*shadow land*/
#shadow-land {
  #edit-modal {
    display: none;
    position: absolute;
    width: 200px;
    height: 50px;
  }
}

/*chat*/
#chat-container {
  font-size: $font-size;
  font-family: $font-family;

  input[type=text] {
    background-color: $light-grey;
  }

  #chat { background-color: $light-grey;
    color: black;
  }
}

