@import 'reset';
@import 'grid';

/*colors*/
$light-grey: #ddd;
$dark-blue-green: #00202F;
$light-blue-green: #00D5FF;
$light-green-blue: #00FFAD;

/*font*/
$font-size: 14px;
$font-family: "Trebuchet MS", Helvetica, sans-serif;
$font-color: $light-blue-green;

/*everything*/
body {
  background-color: $dark-blue-green;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
}

input[type=button], input[type=text], textarea {
  background-color: black;
  color: $light-blue-green;
  border: 1px solid $light-blue-green;
}

#controls {
  text-align: right;
}

/*chat*/

#chat {
  max-height: 290px;
  bottom: 0px;
}

/*editing*/

/*shadow land*/
#shadow-land {
  #edit-modal {
    display: none;
    position: absolute;
    width: 200px;
    height: 50px;
  }
}

